@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  @apply font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p, a, li, span {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: #eeba2b !important;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #eeba2b !important;
}
